.container {
  margin: 0 auto;
  max-width: 800px;
}

.translate {
  padding: 100px 0;
}


.translate__blocks{
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.red {
  width: 300px;
  height: 300px;
}

.red {
  background-color: rgba(240, 82, 82, 0.699);
}


.translate__red {
  transform: rotate(-30deg) translate(10%);
}
